CONFIG_64BIT=y
CONFIG_X86_64=y
CONFIG_EMBEDDED=y
CONFIG_EXPERT=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_SMP=n
CONFIG_RELOCATABLE=y
CONFIG_RANDOMIZE_BASE=n
CONFIG_X86_5LEVEL=n
CONFIG_X86_X2APIC=n
CONFIG_X86_MPPARSE=y
CONFIG_X86_IOPL_IOPERM=y
CONFIG_ACPI=n
CONFIG_PCI=n
CONFIG_EFI=n
CONFIG_MODULES=n
CONFIG_NET=n
CONFIG_BLOCK=n
CONFIG_BLK_DEV_INITRD=y
CONFIG_BINFMT_ELF=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TTY=y
CONFIG_VT=n
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_PNP=n
CONFIG_SERIAL_8250_DEPRECATED_OPTIONS=n
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_EARLY_PRINTK=y
CONFIG_HZ_100=y
CONFIG_HZ=100
CONFIG_NO_HZ=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_INPUT=n
CONFIG_SERIO=n
CONFIG_I8042=n
CONFIG_VGA_CONSOLE=n
CONFIG_DRM=n
CONFIG_FB=n
CONFIG_SOUND=n
CONFIG_USB_SUPPORT=n
CONFIG_WLAN=n
CONFIG_DEBUG_INFO_NONE=y
CONFIG_WERROR=n
